.black{
    color: white;
}

.parrafos{
border: 1px solid white;
}

body{
    background: orange;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.cabecera{
    border: 1px solid white;
}

header{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;


}
body{
    margin: 0;
    padding: 0;
}