.black{
    color: white;
}


body{
    background: orange;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}



body{
    margin: 0;
    padding: 0;
}

ol,
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}


.cabecera{
    border: 1px solid blue;
    display: flex;
    justify-content: start;
    align-items: center;
    background: white;
}

.cabecera-nav
{
     margin: 10px;
     text-decoration: none;
     display: inline;
     color: black;
     

}

.cabecera-nav li{

    display: inline;
}

.cabecera-nav a
{
  
    text-decoration: none;

}



.cabecera-container-logo
{
    margin: 10px;
}

.container-img
{
margin: 0px;

}
.container-img h5
{
margin: 0px;

}
footer{
background: white;


}
